<footer class="">
            <div class=" w-1/2 flex flex-col gap-5 mx-auto">
                <div
                    class="relative h-64 overflow-hidden"
                    style="background-image:url('img/world_map.jpg');
                        background-size:cover;
                        background-position:center;">

                    <div class="absolute inset-0 bg-black/50"></div>

                    <div class="relative z-10 h-full flex flex-col items-center justify-center text-white">
                        <h2 class="text-4xl font-bold mb-3">
                            PingAtlas V1
                        </h2>

                        <p class="max-w-xl text-center mb-4">
                            PingAtlas is a community-maintained global uptime map.
                        </p>

                        <a href="#" class="px-5 py-2 bg-white text-black rounded-md">
                            Donate
                        </a>
                    </div>
                </div>
                <h1 class="leading-4 text-wrap">The domains on this website are being populated by many different individuals. If you notice a domain or endpoint that may not be true, please notify <a href="#" class="text-blue-600">us</a> for review</h1>
                <div class="gap-5 flex flex-wrap items-center">
                    <a href="#" class="text-blue-600">About PingAtlas</a> <a href="#" class="text-blue-600">Acknowledgements</a> <a href="#" class="text-blue-600">What's Mew</a> <a href="#" class="text-blue-600">Raise Issue</a> <a href="#" class="text-blue-600">Cookie policy</a> <a href="#" class="text-blue-600">Privacy policy</a> <a href="#" class="text-blue-600">Terms of Use</a> <a href="#" class="text-blue-600">Site Map</a>
                </div>
            </div>        
        </footer>